.newsletter {
  font-size: 14px;
  background: white;
  color: orange;
}

span {
  color: #444444;
}

.newsletter .row {
  align-items: baseline;
}

input {
  font-weight: bold;
  color: #444444;
  border: none;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #444444;
}

button {
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  background-color: darkorange;
}

button:hover {
  background-color: orangered;
}
