<div class="content">
  <div class="container">
    <div class="newsletter p-5">
      <div class="row">
        <h5 class="d-inline text-uppercase col-md-2 mb-0 font-weight-bold text-center text-md-left">news letter</h5>
        <span class="col-md-4 my-3 my-md-0 font-weight-bold text-center text-md-left">Join us now to get all the news and special offers</span>
        <label class="col-md-4 my-3 my-md-0 mb-0 text-center text-md-left"><i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>
          <input type="text" class="text-center text-md-left w-75" placeholder="type your email here"/>
        </label>
        <div class="col-md-2 text-center text-md-right">
          <button class="btn btn-primary d-inline-block">join us</button>
        </div>
      </div>
    </div>
  </div>
</div>
