<footer class="footer">
 <div class="container">
   <div class="row">
     <div class="col-md-4 col-xs-12 text-center text-md-left px-3 footer-banner">
       <h5 class="my-0 text-uppercase font-weight-bold">shopy</h5>
       <p>shopy c 2015. your copy right here</p>
     </div>
     <div class="col-md-2 col-xs-12 px-3 text-center text-md-left footer-row">
       <ul>
         <li><a href="">about us</a></li>
         <li><a href="">contact us</a></li>
         <li><a href="">support</a></li>
       </ul>
     </div>
     <div class="col-md-2 col-xs-12 text-center px-3 text-md-left footer-row">
       <ul>
         <li><a href="">our feed</a></li>
         <li><a href="">terms and conditions</a></li>
         <li><a href="">our privacy</a></li>
       </ul>
     </div>
     <div class="col-md-2 col-xs-12 text-center text-md-left px-3 footer-row">
       <ul>
         <li><a href="">join us</a></li>
         <li><a href="">live support</a></li>
       </ul>
     </div>
     <div class="col-md-2 col-xs-12 text-center text-md-left px-3">
       <h5 class="payment-methods">Payments methods</h5>
     </div>
   </div>
 </div>
</footer>
